@charset "UTF-8";

body{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: #1c1917;
    color: #f5f5f4;
    max-width: 500px;
    padding: 20px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.conteiner {
    flex: 1;
}

.search{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.users {
    list-style: none;
    padding: 0;
    width: 100%;
}

.users li {
    background-color: #292524;
    border: 1px solid #44403c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.users li span {
    flex: 1;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #44403c;
    background-color: #292524;
    color: #f5f5f4;
}

.search button {
    background-color: #a16207;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background-color: #854d0e;
}

.users li button {
    background-color: #7f1d1d;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.users li button:hover {
    background-color: #991b1b;
}

.users li:hover {
    background-color: #3f3f46;
    transition: 0.2s;
}
.header{
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .left {
    position: absolute;
    left: 10px;
}

.header .right {
    position: absolute;
    right: 10px;
}

.header h1 {
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
}

.header button {
    background-color: #292524;
    border: 1px solid #44403c;
    color: #f5f5f4;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 20px;
    color: #a8a29e;
}